@import url('../about-author/avatar/avatar.css');
@import url('../about-author/profile/profile.css');

.about-author{
    width: 85%;
    display: flex;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .about-author{
        width: 90%;
    }
}

@media (max-width: 320px) {
    .about-author{
        flex-direction: column;
        margin-bottom: 32px;
    }
}