@import url('./__title/analytics-result__title.css');
@import url('./__table/analytics-result__table.css');
@import url('./__scale/analytics-result__scale.css');

.analytics-result__main{
    width: 86%;
    margin: 0 auto;
    padding: 80px 0 80px;
}


@media (max-width: 768px) {
    .analytics-result__main{
        padding: 40px 0 45px;
        width: 90%;
    }
    
}


@media (max-width: 320px) {
    .analytics-result__main{
        padding: 24px 0 6px;
    }
}