.analytics-main__title_grey{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #B6BCBF;
}

@media (max-width: 320px) {
    .analytics-main__title_grey{
        display: none;
        }
}