.card__date{
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #B6BCBF;

margin: 20px 0 12px 24px;
}

@media (max-width: 768px) {
    .card__date{        
        margin: 16px 0 12px 16px;
        }
}

@media (max-width: 320px) {
    .card__date{        
        margin: 16px 0 16px 16px;
        }
}