.commits__header{
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 72px;
    padding-bottom: 64px;
}

@media (max-width: 768px) {
    .commits__header {
        width: 90%;
        padding-top: 40px;
        padding-bottom: 32px;
    }
}

@media (max-width: 320px) {
    .commits__header {
        padding-top: 32px;
    }
}