.results__header-analytics{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 23px;

color: #1A1B22;

text-decoration: none;
}

@media (max-width: 320px) {
    .results__header-analytics{
        font-size: 18px;
        line-height: 24px;
        margin-top: 16px;
        }
        
    
}