.commits-image{
    background-repeat: no-repeat;
    background-size: cover;
    height: 64px;
    width: 64px;
}

@media (max-width: 768px) {
    .commits-image{
        height: 48px;
        width: 48px;
    }
}