@import url('./_grey/analytics-main__title_grey.css');
@import url('./_black/analytics-main__title_black.css');

.analytics-main__title{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

margin: 0;
text-decoration: none;
}

@media (max-width: 320px) {
    .analytics-main__title{
        display: none;
        }
}