@import url('./_white/header__name_white.css');
@import url('./_black/header__name_black.css');

.header__name{
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

margin: 0;
text-decoration: none;
}

@media (max-width: 414px) {
    .header__name{
        font-size: 16px;
        line-height: 24px;
        }
}
