@import url(../__main/__subtitle/serach__subtitle.css);
@import url(../__main/__title/search__title.css);
@import url(../__main/search-field/search-field.css);

.search__main{
    display: flex;
    flex-direction: column;
    width: 42%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .search__main{
        width: 58%;
    }
}

@media (max-width: 320px) {
    .search__main{
        width: 88%;
    }
}