.clients-info__subtitle{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #1A1B22;

max-width: 815px;
margin: 24px 0 0 0;
}

@media (max-width: 768px) {
    .clients-info__subtitle{

        margin: 22px 0 0 0;
        }
}