@import url('./date/date.css');

.result__date{
    margin-top: 1%;
    width: 8%;
}

@media (max-width: 768px) {
    .result__date{
        margin-top: 3%;
        width: 10%;
    }
}

@media (max-width: 320px) {
    .result__date{
        margin-top: -10px;
        width: 26%;
    }
}