.search__title{
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 64px;

color: #FFFFFF;

margin: 160px 0 0 0;
}

@media (max-width: 768px) {
    .search__title{
        margin: 104px 0 0 0;
        font-size: 36px;
        line-height: 40px;
        width: 50%;
        }
        
}

@media (max-width: 320px) {
    .search__title{
        margin: 86px 0 0 0;
        width: 80%;
        }
        
}