@import url('../../tech/tech.css');

.use-technology__items{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .use-technology__items{
        margin-left: 15px;
        width: 110%;
    }
        
}
@media (max-width: 470px) {
    .use-technology__items{
        margin-left: -15px;
    }
        
}
@media (max-width: 450px) {
    .use-technology__items{
        width: 86%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
        
}