@import url(../search/__main/search__main.css);

.search{
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

@media (max-width: 768px) {
    .search{
        background-size: cover;
    }
}