@import url('./__copyright/footer__copyright.css');
@import url('./__menu/footer__menu.css');
@import url('./__icon/footer__icon.css');

.footer{
    width: 85%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 25px;
    justify-content: space-between;
    padding-top: 30px;
}

@media (max-width: 768px) {
    .footer{
        width: 90%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
        
}

@media (max-width: 320px) {
    .footer{
        padding-bottom: 22px;
        flex-wrap: wrap;
    }
        
}