@import url('../profile/__title/profile__title.css');
@import url('../profile/__subtitle/profile__subtitle.css');

.profile{
    width: 50%;
    margin: 131px 0 0 56px;
}

@media (max-width: 768px) {
    .profile {
        width: 65%;
        margin: 40px 0 0 32px;
    }
}

@media (max-width: 320px) {
    .profile {
        width: 100%;
        margin: 0;
    }
}