@import url(../search-field/text-input/text-input.css);
@import url(../search-field/button/button.css);

.search-field{
    display: flex;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .search-field{
        margin-bottom: 48px;
    }
}

@media (max-width: 320px) {
    .search-field{
        margin-bottom: 32px;
        flex-direction: column;
    }
}