.text-input{
background: #FFFFFF;

border: 1px solid #D1D2D6;
box-sizing: border-box;
box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
border-radius: 100px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #B6BCBF;

width: 608px;
height: 64px;

margin: 64px 0 0 0;

padding-left: 24px;
}

.text-input:hover {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    
    color: #1A1B22;
      }

.text-input_entered{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #1A1B22;
}

@media (max-width: 768px) {
  .text-input{
    width: 448px;
    margin: 24px 0 0 0;
    height: 56px;
    }
      
}

@media (max-width: 320px) {
  .text-input{
    width: 288px;
    }
      
}