.card__image{
    height: 272px;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

@media (max-width: 768px) {
    .card__image{
        height: 150px;
    }
}

@media (max-width: 411px) {
    .card__image{
        height: 196px;
    }
}