.commits__carousel{
    background: #F5F6F7;
    margin: 0 auto;
}

.commits__carousel::before, .commits__carousel::after {
    content: '';
    width: 88px;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
}
.commits__carousel:before{
    left: 0;
    background: linear-gradient(90deg,#f5f6f7 0,hsla(0,0%,100%,0));
}

.commits__carousel:after{
    right: 0;
    background: linear-gradient(270deg,#f5f6f7 0,hsla(0,0%,100%,0));
}