@import url('../../commits-card/commits-card.css');

.commits__carousel-cell{
    padding: 24px;
    background: white;
    width: 30%;
    margin: 0 8px;
    max-width: 352px;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    height: 245px;
}

@media (max-width: 768px) {
    .commits__carousel-cell{
        max-height: 194px;
        margin: 0 8px 0 0;
        padding: 24px 16px 24px 24px;
        width: 40%;
        max-width: 296px;
    }
}

@media (max-width: 320px) {
    .commits__carousel-cell{
        max-height: 215px;
        width: calc(100% - 80px);
    }
}
