@import url('./__main/use-technology__main.css');

.use-technology{
    min-height: 334px;
    background: #F5F6F7;

}

@media (max-width: 768px) {
    .use-technology{
        min-height: 341px;
    
    }
     
}