@import url('./__title/analytics-main__title.css');
@import url('./__subtitle/analytics-main__subtitle.css');
@import url('./__news/analytics-main__news.css');
@import url('./__remind/analytics-main__remind.css');

.analytics-main{
    width: 86%;
    margin: 0 auto;
    padding: 40px 0 80px;
}

@media (max-width: 768px) {
    .analytics-main{
        width: 90%;
        padding: 30px 0 40px;
    }
}

@media (max-width: 320px) {
    .analytics-main{
        padding: 30px 0 23px;
    }
}