@import url('./__name/commits-author__name.css');
@import url('./__email/commits-author__email.css');

.commits-author{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

@media (max-width: 768px) {
    .commits-author{
        margin-left: 12px;
    }
}