@import url('./-number/result__graph-number.css');

.result__graph{
    background: #2F71E5;
    height: 24px;
    margin-top: 1.5%;
    margin-bottom: 5%;
    position: relative;
}

@media (max-width: 768px) {
    .result__graph{
        margin-bottom: 10%;
    }
}

@media (max-width: 320px) {
    .result__graph{
        margin-bottom: 12%;
    }
}