.search__search-field{
    display: flex;
    margin-bottom: 80px;
}




@media (max-width: 1024px) {
    .search__search-field{
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .search__search-field{
        margin-bottom: 50px;
    }
}

@media (max-width: 477px) {
    .search__search-field{
        margin-bottom: 32px;
        flex-direction: column;
    }
}