.result__graph-number{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;

letter-spacing: 0.4px;
text-transform: uppercase;

color: #FFFFFF;

padding-left: 5px;
}