@import url('./__header/commits__header.css');
@import url('./__carousel/commits__carousel.css');
@import url('./__button/commits__button.css');

.commits{
    min-height: 610px;
    background: #F5F6F7;
}

@media (max-width: 768px) {
    .commits{
        min-height: 462px;
        margin-top: 37px;
    }
}

@media (max-width: 320px) {
    .commits{
        min-height: 568px;
    }
}